[submodule "cartago"]
	path = cartago
	url = git@github.com:CArtAgO-lang/cartago.git
[submodule "wot-td-java"]
	path = wot-td-java
	url = git@github.com:Interactions-HSG/wot-td-java.git
	branch = master
