[submodule "cartago"]
	path = cartago
	url = https://github.com/CArtAgO-lang/cartago.git
[submodule "wot-td-java"]
	path = wot-td-java
	url = https://github.com/Interactions-HSG/wot-td-java.git
	branch = master
[submodule "moise"]
	path = moise
	url = https://github.com/moise-lang/moise.git
