[submodule "cartago"]
	path = cartago
	url = git@github.com:Interactions-HSG/cartago.git
	branch = cartago3_yggdrasil
[submodule "wot-td-java"]
	path = wot-td-java
	url = git@github.com:Interactions-HSG/wot-td-java.git
	branch = feature/json-ld2
[submodule "moise"]
	path = moise
	url = git@github.com:moise-lang/moise.git
  branch = v1.0
