name: Run tests

on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - CHANGELOG.md
      - README.md
      - CONTRIBUTING.md
      - LICENSE
      - renovate.json
      - ".github/workflows/**"
      - docker-compose.yml
      - Dockerfile
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      TERM: dumb
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Setup Java version 21
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 21
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Run checks and tests
      run: ./gradlew check
    - name: Upload analysis to GitHub
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: check-results
        path: |
          yggdrasil-cartago/build/reports
          yggdrasil-core/build/reports
          yggdrasil-utils/build/reports
          yggdrasil-websub/build/reports
          build/reports
        if-no-files-found: error

#    - name: Upload coverage to Codecov
#     uses: codecov/codecov-action@v3
#     with:
#       token: ${{ secrets.CODECOV_TOKEN }}
#       files: build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml
#       fail_ci_if_error: true
#       flags: unittests
#       name: codecov-umbrella
#       verbose: true
